.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 15px 0;
    background-color: $color-white;
    @include responsive('xl'){
        padding: 15px 20px 0;
    }
    @include responsive('xxl'){
        padding: 15px 30px 0;
    }
    &.active{
        box-shadow: 0 0 10px transparentize($color-black, .85);
    }
    &.shadow{
        box-shadow: 0 0 10px transparentize($color-black, .85);
        border-radius: 0 0 10px 10px;
        overflow: hidden;
    }
    &__topBar{
        display: none;
        @include responsive('md'){
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            border-bottom: 2px solid transparentize($color-grey, .3);
            padding-bottom: 15px;
            margin-bottom: 12px;
            font-size: 13px;
        }
        @include responsive('xl'){
            font-size: 15px;
        }
        &--links{
            color: $color-black-ipf;
            text-decoration: none;
            transition: color $time-veryfast;
            &:not(:last-child){
                margin-right: 15px;
            }
            &:hover{
                @include responsive('xl'){
                    color: $color-turquoise;
                }
            }
        }
        &__login{
            border-left: 2px solid darken($color-grey, 5%);
            padding-left: 15px;
            &--link{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $color-black-ipf;
                transition: color $time-veryfast;
                .iconSVG{
                    width: 16px;
                    height: 16px;
                    fill: $color-turquoise;
                    margin-right: 5px;
                    transition: fill $time-veryfast;
                    @include responsive('xl'){
                        width: 20px;
                        height: 20px;
                    }
                }
                &:hover{
                    @include responsive('xl'){
                        color: $color-yellow;
                    }
                    .iconSVG{
                        @include responsive('xl'){
                            fill: $color-yellow;
                        }
                    }
                }
            }
        }
    }
    &__midRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        @include responsive('xl'){
            padding-bottom: 0;
        }
        &__searchNapply{
            display: flex;
            align-items: center;
            @include responsive('xl'){
                order: 2;
            }
            &--link{
                @extend %simple-button;
                display: none;
                @include responsive('xl'){
                    display: inline-flex;
                    margin-right: 25px;
                }
            }
            &--search{
                cursor: pointer;
                .iconSVG{
                    width: 20px;
                    height: 20px;
                    fill: $color-turquoise;
                    transition: fill $time-veryfast;
                    @include responsive('xl'){
                        fill: $color-black-ipf;
                    }
                    &:hover{
                        @include responsive('xl'){
                            fill: $color-turquoise;
                        }
                    }
                }
            }
        }
        &__logo{
            @include responsive('xl'){
                padding-bottom: 10px;
            }
            &--link{
                display: block;
            }
            &--img{
                height: 70px;
                @include responsive('xxl'){
                    height: 90px;
                }
            }
        }
    }
    &__searchBar{
        padding: 15px 0;
        border-top: 2px solid $color-grey;
        display: none;
        @include responsive('xl'){
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $color-white;
            border: none;
            padding: 0 30px;
        }
        &--inner{
            width: 100%;
            max-width: 375px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            @include responsive('xl'){
                border-top: 2px solid $color-grey4;
                max-width: none;
                margin: 0;
                padding: 15px 0;
                justify-content: space-between;
            }
            .iconSVG{
                width: 20px;
                height: 20px;
                fill: $color-turquoise;
                transition: transform $time-fast, fill $time-veryfast;
                @include responsive('xl'){
                    fill: $color-black-ipf;
                    cursor: pointer;
                }
                &.hide-search-mobile{
                    &:hover{
                        @include responsive('xl'){
                            transform: rotate(90deg);
                            fill: $color-turquoise;
                        }
                    }
                }
            }
        }
        &__logo{
            display: none;
            @include responsive('lg'){
                display: block;
            }
            &--img{
                height: 60px;
                @include responsive('xxxl'){
                    height: 95px;
                }
            }
        }
        &__fieldBox{
            background-color: $color-grey;
            border-radius: 4px;
            margin-right: 15px;
            width: 300px;
            @include responsive('xl'){
                margin-right: 0;
                width: 100%;
                max-width: 425px;
            }
            &--form{
                position: relative;
            }
            .input{
                &__field{
                    background-color: transparent;
                    border: 1px solid transparent;
                    height: 40px;
                    padding: 0 60px 0 12px;
                    border-radius: 5px;
                    width: 100%;
                    @include responsive('xl'){
                        height: 55px;
                    }
                    &:focus{
                        border:1px solid $color-turquoise;
                    }
                }
            }
            &--submit{
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                height: 100%;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                background-color: transparent;
                .iconSVG{
                    fill: $color-black-ipf;
                }
                &:hover{
                    @include responsive('xl'){
                        .iconSVG{
                            fill: $color-turquoise;
                        }
                    }
                }
            }
        }
    }
}

// Padding on Body When Heder is Fixed
.spaceTop{
    padding-top: 130px;
    @include responsive('md'){
        padding-top: 180px;
    }
    @include responsive('lg'){
        padding-top: 200px;
    }
}