 // Color Defining
$color-black: #000000;
$color-black2: #222222;
$color-black3: #262626;
$color-black4: #666666;
$color-white: #ffffff;
$color-grey: #ecf0f1;
$color-grey2: #dfe5e7;
$color-grey3: #EDF1F4;
$color-grey4: #BDBDBD;
$color-grey-medium: #bdc3c7;
$color-grey-dark: #aaaaaa;

// Website Colors
$color-turquoise: #35BDB2;
$color-turquoise-light: #9FD3CD;
$color-turquoise2: #91d2cb;
$color-turquoise3: #3db6b3;
$color-blue: #1BAACE;
$color-blue-dark: #0078A5;
$color-blue-dark2: #006085;
$color-blue-dark3: #1179A6;
$color-green: #1D893A;
$color-yellow: #EEA10A;
$color-black-ipf: #253347;
$color-grey-body: #454b66;
$color-pink: #e31d63;

// Fonts
$font-normal: 'Museo Sans', sans-serif;

// Transition timing
$time-veryfast: .3s;
$time-fast: .5s;