// Color Defining
$color-black: #000;
$color-black2: #222;
$color-black3: #666;
$color-white: #fff;
$color-grey: #ecf0f1;
$color-grey2: #dfe5e7;
$color-grey-medium: #bdc3c7;
$color-grey-dark: #aaaaaa;

// Website Colors
$color-red: #5a0a0a;
$color-orange: #d35400;
$color-green: #29ad61;
$color-yellow-light: #eccc68;

// Fonts
$font-normal: 'Montserrat', sans-serif;
$font-highlight: 'Roboto Slab', serif;
$font-cursive:'Great Vibes', cursive;

// Transition timing
$time-veryfast: .3s;
$time-fast: .5s;