 // Color Defining
$color-black: #000000;
$color-white: #FFFFFF;

// Website Colors
$color-turquoise: #35BDB2;
$color-turquoise-light: #9FD3CD;
$color-turquoise2: #91D2Cb;
$color-turquoise3: #3DB6B3;
$color-turquoise4: #8FD2CA;
$color-blue: #1BAACE;
$color-blue-dark: #0078A5;
$color-blue-dark2: #1179A6;
$color-green: #1D893A;
$color-yellow: #EEA10A;
$color-black-ipf: #253347;
$color-grey-body: #454b66;
$color-black-mid: #8E91A0;
$color-pink: #E61661;
$color-grey: #EDF1F4;
$color-grey2: #BDBDBD;
$color-grey3: #F5F5F5;
$color-grey4: #E7E7E8;

// Fonts
$font-normal: 'Museo Sans', sans-serif;

// Transition timing
$time-veryfast: .3s;
$time-fast: .5s;
$time-avg: .75s;