body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Museo Sans", sans-serif;
  color: #253347; }

ul, li, ol, dl, dt, dd, form, p, img, video a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

button:focus, video:focus, a:focus, input:focus {
  outline: none; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

button {
  cursor: pointer; }

input, select, textarea, button {
  font-family: "Museo Sans", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none; }

input, textarea {
  font-size: 16px; }

.icon {
  font-family: 'ipf-icons'; }

svg {
  display: none; }

.iconSVG, img {
  display: block; }

body.OFHidden {
  overflow: hidden; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/museo/MuseoSans-300.eot");
  src: url("../fonts/museo/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/MuseoSans-300.woff") format("woff"), url("../fonts/museo/MuseoSans-300.ttf") format("truetype"), url("../fonts/museo/MuseoSans-300.svg#MuseoSans-300") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/museo/MuseoSans-500.eot");
  src: url("../fonts/museo/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/MuseoSans-500.woff2") format("woff2"), url("../fonts/museo/MuseoSans-500.woff") format("woff"), url("../fonts/museo/MuseoSans-500.ttf") format("truetype"), url("../fonts/museo/MuseoSans-500.svg#MuseoSans-500") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.header__midRow__searchNapply--link, .footer__blockContact__login--link {
  background-color: rgba(159, 211, 205, 0.5);
  padding: 0 30px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1179A6;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s; }
  @media (min-width: 1200px) {
    .header__midRow__searchNapply--link:hover, .footer__blockContact__login--link:hover {
      background-color: #EEA10A;
      color: #ffffff; } }

.welcomeHome__textBlock__btn--link {
  background-color: #3db6b3;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  padding: 0 30px;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s; }
  .welcomeHome__textBlock__btn--link .arrow {
    width: 30px;
    margin-left: 15px;
    transition: transform 0.3s; }
  @media (min-width: 1000px) {
    .welcomeHome__textBlock__btn--link {
      height: 60px;
      padding: 0 40px; } }
  @media (min-width: 1400px) {
    .welcomeHome__textBlock__btn--link {
      height: 70px;
      padding: 0 50px; } }
  @media (min-width: 1200px) {
    .welcomeHome__textBlock__btn--link:hover {
      background-color: #EEA10A; } }
  @media (min-width: 1200px) {
    .welcomeHome__textBlock__btn--link:hover .arrow {
      transform: translateX(5px); } }

.footer--container, .welcomeHome--container, .foundation--container {
  width: 100%;
  max-width: 380px;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .footer--container, .welcomeHome--container, .foundation--container {
      max-width: 470px; } }
  @media (min-width: 760px) {
    .footer--container, .welcomeHome--container, .foundation--container {
      max-width: 730px; } }
  @media (min-width: 1000px) {
    .footer--container, .welcomeHome--container, .foundation--container {
      max-width: 970px; } }
  @media (min-width: 1200px) {
    .footer--container, .welcomeHome--container, .foundation--container {
      max-width: 1170px; } }
  @media (min-width: 1400px) {
    .footer--container, .welcomeHome--container, .foundation--container {
      max-width: 1370px; } }
  @media (min-width: 1580px) {
    .footer--container, .welcomeHome--container, .foundation--container {
      max-width: 1550px; } }

.plr {
  padding: 0 15px; }

.row {
  margin: 0 -15px; }

.col {
  padding: 0 15px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BDBDBD;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #BDBDBD; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #BDBDBD; }

.input__field {
  color: #253347; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 15px 0;
  background-color: #ffffff; }
  @media (min-width: 1200px) {
    .header {
      padding: 15px 20px 0; } }
  @media (min-width: 1400px) {
    .header {
      padding: 15px 30px 0; } }
  .header.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .header.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
    overflow: hidden; }
  .header__topBar {
    display: none; }
    @media (min-width: 760px) {
      .header__topBar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 2px solid rgba(237, 241, 244, 0.7);
        padding-bottom: 15px;
        margin-bottom: 12px; } }
    .header__topBar--links {
      color: #253347;
      text-decoration: none;
      transition: color 0.3s; }
      .header__topBar--links:not(:last-child) {
        margin-right: 15px; }
      @media (min-width: 1200px) {
        .header__topBar--links:hover {
          color: #35BDB2; } }
    .header__topBar__login {
      border-left: 2px solid #dde5ea;
      padding-left: 15px; }
      .header__topBar__login--link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #253347;
        transition: color 0.3s; }
        .header__topBar__login--link .iconSVG {
          width: 20px;
          height: 20px;
          fill: #35BDB2;
          margin-right: 5px;
          transition: fill 0.3s; }
        @media (min-width: 1200px) {
          .header__topBar__login--link:hover {
            color: #EEA10A; } }
        @media (min-width: 1200px) {
          .header__topBar__login--link:hover .iconSVG {
            fill: #EEA10A; } }
  .header__midRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px; }
    .header__midRow__searchNapply {
      display: flex;
      align-items: center; }
      @media (min-width: 1000px) {
        .header__midRow__searchNapply {
          order: 2; } }
      .header__midRow__searchNapply--link {
        display: none; }
        @media (min-width: 1000px) {
          .header__midRow__searchNapply--link {
            display: inline-flex;
            margin-right: 25px; } }
      .header__midRow__searchNapply--search {
        cursor: pointer; }
        .header__midRow__searchNapply--search .iconSVG {
          width: 20px;
          height: 20px;
          fill: #35BDB2; }
          @media (min-width: 1000px) {
            .header__midRow__searchNapply--search .iconSVG {
              fill: #253347; } }
    .header__midRow__logo--link {
      display: block; }
    .header__midRow__logo--img {
      height: 70px; }
      @media (min-width: 1000px) {
        .header__midRow__logo--img {
          height: 90px; } }
  .header__searchBar {
    padding: 15px 0;
    border-top: 2px solid #EDF1F4;
    display: none; }
    .header__searchBar--inner {
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__searchBar--inner .iconSVG {
        width: 20px;
        height: 20px;
        fill: #35BDB2; }
    .header__searchBar__fieldBox {
      background-color: #EDF1F4;
      border-radius: 4px;
      margin-right: 15px;
      width: 300px; }
      .header__searchBar__fieldBox--form {
        position: relative; }
      .header__searchBar__fieldBox .input__field {
        background-color: transparent;
        border: 1px solid transparent;
        height: 40px;
        padding: 0 60px 0 12px;
        border-radius: 5px;
        width: 100%; }
        .header__searchBar__fieldBox .input__field:focus {
          border: 1px solid #35BDB2; }
      .header__searchBar__fieldBox--submit {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none; }
        .header__searchBar__fieldBox--submit .iconSVG {
          fill: #253347; }

.spaceTop {
  padding-top: 90px; }
  @media (min-width: 760px) {
    .spaceTop {
      padding-top: 140px; } }

.footer--container.plr {
  padding-left: 35px;
  padding-right: 35px; }
  @media (min-width: 760px) {
    .footer--container.plr {
      padding-left: 15px;
      padding-right: 15px; } }

.footer .row {
  margin: 0; }
  @media (min-width: 760px) {
    .footer .row {
      margin: 0 -15px; } }
  .footer .row.firstRow {
    padding-bottom: 30px; }
    @media (min-width: 760px) {
      .footer .row.firstRow {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        margin-bottom: 40px; } }
  @media (min-width: 760px) and (min-width: 760px) {
    .footer .row.firstRow:after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      height: 2px;
      background-color: rgba(237, 241, 244, 0.7); } }

.footer .col {
  padding: 0; }
  @media (min-width: 760px) {
    .footer .col {
      flex: 0 0 50%;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1000px) {
    .footer .col {
      flex: 0 0 33.3333%; } }
  @media (min-width: 1400px) {
    .footer .col {
      flex: 0 0 calc((100% - 300px) / 5); } }

.footer__blockContact {
  border-bottom: 2px solid rgba(237, 241, 244, 0.7); }
  @media (min-width: 760px) {
    .footer__blockContact {
      border-bottom: none; } }
  .footer__blockContact.col {
    padding-bottom: 35px; }
    @media (min-width: 1000px) {
      .footer__blockContact.col {
        padding-bottom: 60px; } }
    @media (min-width: 1400px) {
      .footer__blockContact.col {
        flex: 0 0 300px; } }
  .footer__blockContact--title {
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 600; }
  .footer__blockContact__logo {
    padding-bottom: 30px; }
    .footer__blockContact__logo--link {
      display: block; }
    .footer__blockContact__logo--img {
      width: 145px;
      margin: 0 auto; }
      @media (min-width: 760px) {
        .footer__blockContact__logo--img {
          margin: 0; } }
  .footer__blockContact--address {
    text-align: center;
    line-height: 1.25;
    padding-bottom: 30px; }
    @media (min-width: 500px) {
      .footer__blockContact--address {
        line-height: 1.4; } }
    @media (min-width: 760px) {
      .footer__blockContact--address {
        text-align: left; } }
    .footer__blockContact--address .blockMob {
      display: block; }
      @media (min-width: 500px) {
        .footer__blockContact--address .blockMob {
          display: inline; } }
    @media (min-width: 500px) {
      .footer__blockContact--address .blockTab {
        display: block; } }
    @media (min-width: 500px) {
      .footer__blockContact--address .phone {
        font-weight: 600; } }
    .footer__blockContact--address .phone a {
      color: #253347;
      text-decoration: none; }
  .footer__blockContact__login {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px; }
    @media (min-width: 760px) {
      .footer__blockContact__login {
        align-items: flex-start; } }
    .footer__blockContact__login--link {
      background-color: #91d2cb;
      height: 40px;
      font-size: 15px;
      color: #253347;
      font-weight: 600;
      transition: border-color 0.3s, color 0.3s; }
      @media (min-width: 760px) {
        .footer__blockContact__login--link {
          border: 2px solid #35BDB2;
          background-color: transparent;
          font-size: 14px;
          font-weight: 600;
          padding-left: 20px;
          padding-right: 20px; } }
      @media (min-width: 1200px) {
        .footer__blockContact__login--link:hover {
          border-color: #EEA10A;
          background-color: transparent;
          color: #EEA10A; } }
  .footer__blockContact__subscribe {
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 760px) {
      .footer__blockContact__subscribe {
        align-items: flex-start; } }
    .footer__blockContact__subscribe--form {
      position: relative;
      width: 300px; }
      @media (min-width: 760px) {
        .footer__blockContact__subscribe--form {
          width: 100%;
          max-width: 300px; } }
      @media (min-width: 1400px) {
        .footer__blockContact__subscribe--form {
          max-width: 235px; } }
      .footer__blockContact__subscribe--form .form__input {
        background-color: #EDF1F4;
        border: 1px solid transparent;
        height: 48px;
        border-radius: 5px;
        width: 100%;
        padding: 0 40px 0 12px; }
        .footer__blockContact__subscribe--form .form__input:focus {
          border: 1px solid #35BDB2; }
    .footer__blockContact__subscribe--submit {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      height: 48px;
      width: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      background-color: transparent; }
      .footer__blockContact__subscribe--submit .iconSVG {
        fill: #35BDB2;
        width: 18px;
        height: 18px; }

.footer__blockMenu {
  border-bottom: 2px solid rgba(237, 241, 244, 0.7); }
  @media (min-width: 760px) {
    .footer__blockMenu {
      border-bottom: none; } }
  .footer__blockMenu.hide {
    display: none; }
    @media (min-width: 760px) {
      .footer__blockMenu.hide {
        display: block; } }
  .footer__blockMenu__title {
    font-size: 16px; }
    @media (min-width: 760px) {
      .footer__blockMenu__title {
        font-size: 17px; } }
    @media (min-width: 1000px) {
      .footer__blockMenu__title.moreGap {
        margin-bottom: 50px; } }
    .footer__blockMenu__title.hasBottomBorder {
      border-bottom: 2px solid rgba(237, 241, 244, 0.7); }
      @media (min-width: 760px) {
        .footer__blockMenu__title.hasBottomBorder {
          border-bottom: none; } }
    .footer__blockMenu__title.hasDropDown {
      position: relative; }
      .footer__blockMenu__title.hasDropDown:before, .footer__blockMenu__title.hasDropDown:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 29px;
        width: 16px;
        height: 2px;
        border-radius: 999px;
        background-color: #253347; }
        @media (min-width: 760px) {
          .footer__blockMenu__title.hasDropDown:before, .footer__blockMenu__title.hasDropDown:after {
            display: none; } }
      .footer__blockMenu__title.hasDropDown:before {
        right: 17px;
        top: 22px;
        width: 2px;
        height: 16px;
        transition: opacity 0.3s; }
    .footer__blockMenu__title.nav-opened:before {
      opacity: 0; }
    .footer__blockMenu__title--heading {
      color: #253347;
      display: block;
      padding: 0 10px;
      height: 60px;
      display: flex;
      align-items: center;
      font-weight: 600;
      transition: color 0.3s; }
      @media (min-width: 760px) {
        .footer__blockMenu__title--heading {
          height: auto;
          padding: 0;
          margin-bottom: 20px; } }
      .footer__blockMenu__title--heading.link {
        text-decoration: none; }
        @media (min-width: 1200px) {
          .footer__blockMenu__title--heading.link:hover {
            color: #35BDB2; } }
  .footer__blockMenu__list {
    padding: 0 0 20px 15px;
    display: none; }
    @media (min-width: 760px) {
      .footer__blockMenu__list {
        display: block;
        padding: 0 0 50px; } }
    @media (min-width: 1400px) {
      .footer__blockMenu__list {
        padding-bottom: 0; } }
    .footer__blockMenu__list--link {
      display: block;
      color: #253347;
      text-decoration: none;
      padding: 6px 0;
      transition: color 0.3s;
      line-height: 1.3; }
      @media (min-width: 1200px) {
        .footer__blockMenu__list--link:hover {
          color: #EEA10A; } }

.footer__copyrightRow {
  border-bottom: 2px solid rgba(237, 241, 244, 0.7);
  margin-bottom: 30px; }
  @media (min-width: 1000px) {
    .footer__copyrightRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: none; } }
  .footer__copyrightRow--text {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 25px; }
    @media (min-width: 1000px) {
      .footer__copyrightRow--text {
        text-align: left;
        padding-bottom: 0; } }
    .footer__copyrightRow--text .block {
      display: block;
      padding-top: 15px; }
      @media (min-width: 1000px) {
        .footer__copyrightRow--text .block {
          display: inline-block;
          padding: 0; } }
    .footer__copyrightRow--text .showDesk {
      display: none; }
      @media (min-width: 1000px) {
        .footer__copyrightRow--text .showDesk {
          display: inline; } }
  .footer__copyrightRow--link {
    text-decoration: none;
    color: #253347;
    transition: color 0.3s; }
    @media (min-width: 1200px) {
      .footer__copyrightRow--link:hover {
        color: #35BDB2; } }
  .footer__copyrightRow__social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px; }
    @media (min-width: 1000px) {
      .footer__copyrightRow__social {
        padding-bottom: 0; } }
    .footer__copyrightRow__social .text {
      padding-bottom: 10px;
      text-align: center;
      flex: 0 0 100%; }
      @media (min-width: 1000px) {
        .footer__copyrightRow__social .text {
          flex: 0 0 auto;
          padding: 0 20px 0 0; } }
    .footer__copyrightRow__social--link {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 1000px) {
        .footer__copyrightRow__social--link {
          width: 40px;
          height: 40px; } }
      @media (min-width: 1200px) {
        .footer__copyrightRow__social--link {
          margin-right: 20px; } }
      @media (min-width: 1200px) {
        .footer__copyrightRow__social--link:last-child {
          margin-right: 0; } }
      .footer__copyrightRow__social--link .iconSVG {
        width: 30px;
        height: 30px;
        fill: #35BDB2;
        transition: fill 0.3s; }
        @media (min-width: 1000px) {
          .footer__copyrightRow__social--link .iconSVG {
            width: 24px;
            height: 24px; } }
        @media (min-width: 1200px) {
          .footer__copyrightRow__social--link .iconSVG {
            width: 30px;
            height: 30px; } }
      @media (min-width: 1200px) {
        .footer__copyrightRow__social--link:hover .iconSVG {
          fill: #EEA10A; } }

.footer__lastRow {
  padding-bottom: 20px; }
  @media (min-width: 1000px) {
    .footer__lastRow {
      padding-bottom: 30px; } }
  @media (min-width: 1200px) {
    .footer__lastRow {
      padding-bottom: 40px; } }
  @media (min-width: 1400px) {
    .footer__lastRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 50px; } }
  .footer__lastRow__left {
    padding-bottom: 25px; }
    @media (min-width: 1400px) {
      .footer__lastRow__left {
        display: flex;
        align-items: center;
        padding-bottom: 0; } }
    .footer__lastRow__left__logos {
      display: flex;
      justify-content: center;
      padding-bottom: 20px; }
      @media (min-width: 1400px) {
        .footer__lastRow__left__logos {
          padding-bottom: 0;
          padding: 0 20px 0 0; } }
      .footer__lastRow__left__logos--img {
        height: 32px; }
        .footer__lastRow__left__logos--img:not(:last-child) {
          margin-right: 10px; }
    .footer__lastRow__left--text {
      text-align: center;
      line-height: 1.4; }
  .footer__lastRow__text {
    text-align: center; }
    .footer__lastRow__text--link {
      color: #253347;
      text-decoration: none;
      transition: color 0.3s; }
      @media (min-width: 1200px) {
        .footer__lastRow__text--link:hover {
          color: #35BDB2; } }

.header__midRow__navTrigger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 19px; }
  @media (min-width: 1000px) {
    .header__midRow__navTrigger {
      display: none; } }
  .header__midRow__navTrigger .line {
    background-color: #35BDB2;
    height: 3px;
    border-radius: 5px; }
    .header__midRow__navTrigger .line.line1 {
      position: relative;
      transform-origin: top left;
      transition: transform 0.3s;
      width: 70%; }
      .header__midRow__navTrigger .line.line1.active {
        top: 1px;
        transform: rotate(45deg);
        width: 21px; }
    .header__midRow__navTrigger .line.line2 {
      transition: opacity 0.3s;
      width: 18px; }
      .header__midRow__navTrigger .line.line2.hidden {
        opacity: 0; }
    .header__midRow__navTrigger .line.line3 {
      position: relative;
      transform-origin: bottom left;
      transition: transform 0.3s;
      width: 40%; }
      .header__midRow__navTrigger .line.line3.active {
        bottom: 1px;
        transform: rotate(-45deg);
        width: 21px; }

.sideNav {
  position: fixed;
  top: 90px;
  right: -300px;
  z-index: 5;
  width: 300px;
  height: calc(100vh - 90px);
  background-color: #35BDB2;
  transition: opacity 0.3s, right 0.3s; }
  .sideNav.active {
    opacity: 1;
    right: 0; }

.welcomeHome {
  padding: 40px 35px 0; }
  @media (min-width: 760px) {
    .welcomeHome {
      padding: 40px 20px 60px; } }
  @media (min-width: 1000px) {
    .welcomeHome {
      padding: 40px 20px 80px; } }
  .welcomeHome--container {
    max-width: 1400px; }
    @media (min-width: 1000px) {
      .welcomeHome--container {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
  @media (min-width: 1000px) {
    .welcomeHome__textBlock {
      flex: 0 0 52%;
      padding-right: 50px; } }
  .welcomeHome__textBlock--title {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 1;
    color: #35BDB2;
    padding-bottom: 15px; }
    @media (min-width: 1000px) {
      .welcomeHome__textBlock--title {
        font-size: 64px; } }
    @media (min-width: 1200px) {
      .welcomeHome__textBlock--title {
        font-size: 80px;
        letter-spacing: -3.5px; } }
    @media (min-width: 1400px) {
      .welcomeHome__textBlock--title {
        font-size: 100px;
        letter-spacing: -6px; } }
    .welcomeHome__textBlock--title .blockMob {
      display: block; }
      @media (min-width: 400px) {
        .welcomeHome__textBlock--title .blockMob {
          display: inline; } }
    .welcomeHome__textBlock--title .block {
      display: block; }
  .welcomeHome__textBlock--text {
    line-height: 1.4;
    padding-bottom: 20px;
    color: #454b66;
    width: 100%;
    max-width: 485px; }
    @media (min-width: 1000px) {
      .welcomeHome__textBlock--text {
        font-size: 18px;
        padding-bottom: 30px; } }
    @media (min-width: 1200px) {
      .welcomeHome__textBlock--text {
        font-size: 20px;
        padding-bottom: 40px; } }
    @media (min-width: 1400px) {
      .welcomeHome__textBlock--text {
        font-size: 21px;
        padding-bottom: 60px; } }
  .welcomeHome__textBlock__btn {
    padding-bottom: 50px; }
    @media (min-width: 1000px) {
      .welcomeHome__textBlock__btn {
        padding-bottom: 0; } }
  .welcomeHome--image {
    height: 305px;
    background-position: center;
    background-size: cover;
    margin: 0 -35px; }
    @media (min-width: 400px) {
      .welcomeHome--image {
        height: 350px; } }
    @media (min-width: 500px) {
      .welcomeHome--image {
        height: 400px; } }
    @media (min-width: 760px) {
      .welcomeHome--image {
        height: 500px;
        margin: 0 -20px; } }
    @media (min-width: 1000px) {
      .welcomeHome--image {
        margin: 0;
        flex: 0 0 48%;
        border-radius: 10px;
        overflow: hidden; } }
    @media (min-width: 1400px) {
      .welcomeHome--image {
        height: 755px;
        border-radius: 15px; } }

.foundation {
  background-color: #F5F5F5;
  padding: 50px 0; }
  .foundation--container {
    max-width: 1600px; }
  .foundation--title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 40px;
    letter-spacing: -1px; }
  .foundation__nav {
    display: none; }
  .foundation__slides {
    padding-left: 15px; }
    .foundation__slides .slick-list {
      padding: 0 15px 0 0; }
    .foundation__slides .slick-track {
      display: flex;
      align-items: center; }
    .foundation__slides .slick-slide {
      margin: 0 5px; }
      .foundation__slides .slick-slide > div {
        display: flex; }
    .foundation__slides--item {
      background-color: #ffffff;
      padding: 50px 30px;
      border-radius: 20px; }
    .foundation__slides__photo {
      border: 3px solid #35BDB2;
      border-radius: 50%;
      width: 166px;
      height: 166px;
      margin: 0 auto;
      padding: 7px;
      margin-bottom: 25px; }
      .foundation__slides__photo--img {
        width: 100%;
        border-radius: 50%; }
    .foundation__slides__info--title {
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 20px;
      letter-spacing: -.5px; }
      .foundation__slides__info--title .text {
        position: relative;
        padding-bottom: 12px; }
        .foundation__slides__info--title .text:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          border-radius: 5px;
          overflow: hidden;
          background-color: #35BDB2; }
    .foundation__slides__info--subTitle {
      font-weight: 500;
      font-size: 30px;
      padding-bottom: 15px; }
    .foundation__slides__info--bioTitle .block {
      font-weight: 600; }
    .foundation__slides__info p {
      padding-bottom: 20px;
      line-height: 1.4; }
    .foundation__slides__info__btn {
      display: flex;
      align-items: center; }
      .foundation__slides__info__btn--link {
        text-decoration: none;
        color: #253347;
        font-weight: 500;
        font-size: 17px;
        display: flex;
        align-items: center; }
        .foundation__slides__info__btn--link:after {
          content: "";
          width: 35px;
          height: 16px;
          background-image: url("../images/arrow-right-black.png");
          background-size: 35px 16px;
          margin-left: 15px;
          transition: margin-left 0.3s; }
        @media (min-width: 1200px) {
          .foundation__slides__info__btn--link:hover {
            color: #35BDB2; } }
        @media (min-width: 1200px) {
          .foundation__slides__info__btn--link:hover:after {
            margin-left: 20px; } }
    .foundation__slides .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px; }
      .foundation__slides .slick-dots li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21px;
        height: 15px;
        padding: 0 3px; }
        .foundation__slides .slick-dots li button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: none;
          padding: 0;
          background-color: #8E91A0;
          display: block;
          text-indent: -9999px;
          transition: width 0.3s, height 0.3s; }
        .foundation__slides .slick-dots li.slick-active button {
          background-color: #35BDB2;
          width: 15px;
          height: 15px; }
