%simple-button{
    background-color: transparentize($color-turquoise-light, .5);
    padding: 0 30px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-blue-dark3;
    font-weight: 500;
    font-size: 18px;
    transition: background-color $time-veryfast, color $time-veryfast;
    &:hover{
        @include responsive('xl'){
            background-color: $color-yellow;
            color: $color-white;
        }
    }
}
%button-arrow{
    background-color: $color-turquoise3;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    padding: 0 25px;
    color: $color-white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    transition: background-color $time-veryfast;
    &:after{
        content: "";
        width: 35px;
        height: 16px;
        background-image: url('../images/arrow-right.png');
        background-size: 35px 16px;
        margin-left: 15px;
        transition: transform $time-veryfast;
    }
    @include responsive('lg'){
        height: 60px;
        padding: 0 30px;
    }
    @include responsive('xxl'){
        height: 70px;
        padding: 0 40px;
    }
    &:hover{
        @include responsive('xl'){
            background-color: $color-yellow;
        }
        &:after{
            @include responsive('xl'){
                transform: translateX(5px);
            }
        }
    }
}

%button-arrow-trans{
    text-decoration: none;
    color: $color-black-ipf;
    transition: color $time-veryfast;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: center;    
    &:after{
        content: "";
        width: 35px;
        height: 16px;
        background-image: url('../images/arrow-right-black.png');
        background-size: 35px 16px;
        margin-left: 15px;
        transition: margin-left $time-veryfast;
    }
    &:hover{
        @include responsive('xl'){
            color: $color-turquoise;
        }
        &:after{
            @include responsive('xl'){
                margin-left: 20px;
            }
        }
    }
}