%simple-button{
    background-color: transparentize($color-turquoise-light, .5);
    padding: 0 30px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-blue-dark3;
    font-weight: 500;
    font-size: 18px;
    transition: background-color $time-veryfast, color $time-veryfast;
    &:hover{
        @include responsive('xl'){
            background-color: $color-yellow;
            color: $color-white;
        }
    }
}
%button-arrow{
    background-color: $color-turquoise3;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    padding: 0 30px;
    color: $color-white;
    text-decoration: none;
    font-size: 17px;
    transition: background-color $time-veryfast;
    .arrow{
        width: 30px;
        margin-left: 15px;
        transition: transform $time-veryfast;
    }
    @include responsive('lg'){
        height: 60px;
        padding: 0 40px;
    }
    @include responsive('xxl'){
        height: 70px;
        padding: 0 50px;
    }
    &:hover{
        @include responsive('xl'){
            background-color: $color-yellow;
        }
        .arrow{
            @include responsive('xl'){
                transform: translateX(5px);
            }
        }
    }
}