::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-grey2;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-grey2;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $color-grey2;
}

// Input Text Color
.input{
    &__field{
        color: $color-black-ipf;
    }
}